In [2]:
from epw import epw
import pprint
import pandas as pd

pd.options.display.max_rows = 999

In [3]:
EPW_ALL = (
    'Year',
    'Month',
    'Day',
    'Hour',
    'Minute',
    'Data Source and Uncertainty Flags',
    'Dry Bulb Temperature',
    'Dew Point Temperature',
    'Relative Humidity',
    'Atmospheric Station Pressure',
    'Extraterrestrial Horizontal Radiation',
    'Extraterrestrial Direct Normal Radiation',
    'Horizontal Infrared Radiation Intensity',
    'Global Horizontal Radiation',
    'Direct Normal Radiation',
    'Diffuse Horizontal Radiation',
    'Global Horizontal Illuminance',
    'Direct Normal Illuminance',
    'Diffuse Horizontal Illuminance',
    'Zenith Luminance',
    'Wind Direction',
    'Wind Speed',
    'Total Sky Cover',
    'Opaque Sky Cover (used if Horizontal IR Intensity missing)',
    'Visibility',
    'Ceiling Height',
    'Present Weather Observation',
    'Present Weather Codes',
    'Precipitable Water',
    'Aerosol Optical Depth',
    'Snow Depth',
    'Days Since Last Snowfall',
    'Albedo',
    'Liquid Precipitation Depth',
    'Liquid Precipitation Quantity'
)


EPW_REQUIRED = (
    "Year",
    "Month",
    "Day",
    "Hour",
    "Minute",
    "Data Source and Uncertainty Flags",
    "Dry Bulb Temperature",
    "Dew Point Temperature",
    "Relative Humidity",
    "Atmospheric Station Pressure",
    "Horizontal Infrared Radiation Intensity",  # Can be optional?
    "Direct Normal Radiation",
    "Diffuse Horizontal Radiation",
    "Wind Direction",
    "Wind Speed",
    "Total Sky Cover",
    "Opaque Sky Cover",  # Used if Horizontal Infrared Radiation Intensity is missing
    "Present Weather Observation",
    "Present Weather Codes",
    "Snow Depth",
    "Liquid Precipitation Depth",
)

In [4]:
weather = epw()

In [5]:
weather.read("florida.epw")

In [6]:
pprint.pprint(weather.headers)

{'COMMENTS 1': ['Custom/User Format -- WMO#722106; NREL TMY Data Set (2008); '
                'Period of Record 1973-2005 (Generally)'],
 'COMMENTS 2': [' -- Ground temps produced with a standard soil diffusivity of '
                '2.3225760E-03 {m**2/day}'],
 'DATA PERIODS': ['1', '1', 'Data', 'Sunday', ' 1/ 1', '12/31'],
 'DESIGN CONDITIONS': ['1',
                       'Climate Design Data 2009 ASHRAE Handbook',
                       '',
                       'Heating',
                       '1',
                       '5.8',
                       '8',
                       '-2.5',
                       '3.1',
                       '11.1',
                       '0.2',
                       '3.8',
                       '12.1',
                       '9.8',
                       '16',
                       '8.8',
                       '18.2',
                       '2.9',
                       '20',
                       'Cooling',
                       '8',
                       '9',
                       '34.3',
                       '25',
                       '33.6',
                       '25',
                       '33',
                       '25',
                       '26.9',
                       '31.3',
                       '26.6',
                       '30.9',
                       '26.2',
                       '30.5',
                       '3.8',
                       '70',
                       '25.9',
                       '21.2',
                       '28.6',
                       '25.4',
                       '20.6',
                       '28.3',
                       '25.1',
                       '20.2',
                       '28.1',
                       '84.2',
                       '31.3',
                       '82.4',
                       '30.7',
                       '81',
                       '30.5',
                       '416',
                       'Extremes',
                       '8.5',
                       '7.8',
                       '7',
                       '29.8',
                       '1.5',
                       '35.8',
                       '2.3',
                       '0.9',
                       '-0.1',
                       '36.4',
                       '-1.5',
                       '36.9',
                       '-2.7',
                       '37.4',
                       '-4.4',
                       '38'],
 'GROUND TEMPERATURES': ['3',
                         '.5',
                         '',
                         '',
                         '',
                         '20.10',
                         '19.74',
                         '20.38',
                         '21.38',
                         '23.99',
                         '26.00',
                         '27.36',
                         '27.78',
                         '27.07',
                         '25.51',
                         '23.42',
                         '21.48',
                         '2',
                         '',
                         '',
                         '',
                         '21.43',
                         '20.79',
                         '20.92',
                         '21.45',
                         '23.19',
                         '24.77',
                         '26.03',
                         '26.71',
                         '26.57',
                         '25.68',
                         '24.24',
                         '22.71',
                         '4',
                         '',
                         '',
                         '',
                         '22.52',
                         '21.86',
                         '21.72',
                         '21.92',
                         '22.91',
                         '23.97',
                         '24.95',
                         '25.63',
                         '25.78',
                         '25.40',
                         '24.55',
                         '23.52'],
 'HOLIDAYS/DAYLIGHT SAVINGS': ['No', '0', '0', '0'],
 'LOCATION': ['Fort Myers Page Field',
              'FL',
              'USA',
              'TMY3',
              '722106',
              '26.58',
              '-81.87',
              '-5.0',
              '5.0'],
 'TYPICAL/EXTREME PERIODS': ['4',
                             'Wet Season - Week Near Average For Period',
                             'Typical',
                             '4/29',
                             '5/ 5',
                             'Dry Season - Week Near Average For Period',
                             'Typical',
                             '3/ 3',
                             '3/ 9',
                             'Tropical Hot - Week Nearest Max Temperature For '
                             'Period',
                             'Extreme',
                             '6/18',
                             '6/24',
                             'Tropical Cold- Week Nearest Min Temperature For '
                             'Period',
                             'Extreme',
                             '1/15',
                             '1/21']}

In [7]:
weather.dataframe

,Year,Month,Day,Hour,Minute,Data Source and Uncertainty Flags,Dry Bulb Temperature,Dew Point Temperature,Relative Humidity,Atmospheric Station Pressure,...,Ceiling Height,Present Weather Observation,Present Weather Codes,Precipitable Water,Aerosol Optical Depth,Snow Depth,Days Since Last Snowfall,Albedo,Liquid Precipitation Depth,Liquid Precipitation Quantity
0,1997,1,1,1,0,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9?9?9?9?9*9*9?9...,20.0,18.0,88,102000,...,77777,9,999999999,259,0.072,0,88,0.15,0.0,1.0
1,1997,1,1,2,0,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9*9?9?9?9*9*9?9...,19.5,18.0,91,101900,...,77777,9,999999999,259,0.072,0,88,0.15,999.0,99.0
2,1997,1,1,3,0,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9?9?9?9?9*9*9?9...,19.0,18.0,94,101900,...,77777,9,999999999,259,0.072,0,88,0.15,999.0,99.0
3,1997,1,1,4,0,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9?9?9?9?9*9*9?9...,18.0,18.0,100,101800,...,77777,9,999999999,259,0.072,0,88,0.15,999.0,99.0
4,1997,1,1,5,0,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9?9?9?9?9*9*9?9...,18.0,18.0,100,101800,...,77777,9,999999999,259,0.072,0,88,0.15,999.0,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1996,12,31,20,0,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9?9?9?9?9*9*9?9...,23.0,20.0,83,102100,...,77777,9,999999999,250,0.072,0,88,0.15,999.0,99.0
8756,1996,12,31,21,0,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9?9?9?9?9*9*9?9...,22.0,19.0,83,102000,...,77777,9,999999999,250,0.072,0,88,0.15,999.0,99.0
8757,1996,12,31,22,0,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9?9?9?9?9*9*9?9...,22.0,19.0,83,102000,...,77777,9,999999999,250,0.072,0,88,0.15,999.0,99.0
8758,1996,12,31,23,0,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9?9?9?9?9*9*9?9...,22.0,19.0,83,102100,...,3000,9,999999999,259,0.072,0,88,0.15,999.0,99.0
8759,1996,12,31,24,0,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9?9?9?9?9*9*9?9...,20.0,19.0,94,102000,...,77777,9,999999999,259,0.072,0,88,0.15,999.0,99.0

In [8]:
chicago = pd.read_pickle("Chicago_2060126.pickle")

In [11]:
chicago_csv = pd.read_csv("Chicago_2060126.csv")

/home/dshen/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (41,43,51,56) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
chicago_csv.head()

,STATION,DATE,REPORT_TYPE,SOURCE,AWND,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,...,ShortDurationPrecipitationValue060,ShortDurationPrecipitationValue080,ShortDurationPrecipitationValue100,ShortDurationPrecipitationValue120,ShortDurationPrecipitationValue150,ShortDurationPrecipitationValue180,Sunrise,Sunset,TStorms,WindEquipmentChangeDate
0,72212604879,2019-02-05T00:15:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,72212604879,2019-02-05T00:35:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,72212604879,2019-02-05T00:55:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,72212604879,2019-02-05T01:15:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,72212604879,2019-02-05T01:35:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
chicago.columns

Index(['STATION', 'HourlyAltimeterSetting', 'HourlyDewPointTemperature',
       'HourlyDryBulbTemperature', 'HourlyPrecipitation',
       'HourlyRelativeHumidity', 'HourlyStationPressure',
       'HourlyWetBulbTemperature', 'HourlyWindDirection',
       'HourlyWindGustSpeed', 'HourlyWindSpeed'],
      dtype='object')

In [18]:
chicago.tail()

,STATION,HourlyAltimeterSetting,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPrecipitation,HourlyRelativeHumidity,HourlyStationPressure,HourlyWetBulbTemperature,HourlyWindDirection,HourlyWindGustSpeed,HourlyWindSpeed
DATE,,,,,,,,,,,
2020-01-28 22:55:00,72212604879,30.13,26.0,31,NaN,82.0,29.47,29.0,000,NaN,0
2020-01-28 23:15:00,72212604879,30.13,26.0,31,NaN,83.0,29.47,29.0,000,NaN,0
2020-01-28 23:35:00,72212604879,30.13,26.0,31,NaN,84.0,29.47,29.0,000,NaN,0
2020-01-28 23:55:00,72212604879,30.14,26.0,31,NaN,83.0,29.47,29.0,000,NaN,0
2020-01-28 23:59:00,72212604879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
chicago.loc[chicago['HourlyPrecipitation']]

('Year',
 'Month',
 'Day',
 'Hour',
 'Minute',
 'Data Source and Uncertainty Flags',
 'Dry Bulb Temperature',
 'Dew Point Temperature',
 'Relative Humidity',
 'Atmospheric Station Pressure',
 'Horizontal Infrared Radiation Intensity',
 'Direct Normal Radiation',
 'Diffuse Horizontal Radiation',
 'Wind Direction',
 'Wind Speed',
 'Total Sky Cover',
 'Opaque Sky Cover',
 'Present Weather Observation',
 'Present Weather Codes',
 'Snow Depth',
 'Liquid Precipitation Depth')